.App {
  font-family: sans-serif;
  text-align: left;
  padding: 25px;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  height: 55vh;
}

.chatInputBox {
  flex: 0 0 30px;
  margin: 5px 0px;
}

.chatMessageList {
  flex: 1;
  max-height: 80vh;
  padding: 20px;
  border: 1px solid #e9e9e6;
  overflow-y: scroll;
}
